

    <div id="content">

		<% form_for [:admin, @page],:html => { :multipart => true } do |f| %>
		
		  
		  <%- @page.errors.full_messages.each do |message| -%>
		   <div class="errorExplanation"> <p><%= message %></p></div>
		  <%- end -%>
		   
		  
		  <div id="breadcrumb">
		  	   <%= link_to "Pages", admin_pages_path %> &raquo; New
		  </div>
		 
		  <p>
		    <%= f.label :title %>
		    <%= f.text_field :title, :class => 'text' %>
		  </p>
		
		  
		  <p>
		    <%= f.label :body %>
		    <%= f.cktext_area :body,:height=>400, :width=>900 %>
		  </p>
		  <fieldset>
          <legend>For SEO  : </legend>
		  <p>
		    <%= f.label :keyword %>
		    <%= f.text_field :keyword, :class => 'text' %>
		  </p>
		
		  <p>
			<%= f.label :meta_description %>
		    <%= f.text_area :meta_description, :class => 'tiny_mce' %>
			
		  </p>
		  </fieldset>
		  
		  <%= render :partial =>"shared/button" %>
		
		<% end %>


  </div>