<div id="content">
	<p class='buttons'>
		
		<%= link_to  "Add Notification", new_admin_notification_path, :class => 'button positive' %>
		</p>
		<p class='clear'></p>

			<table class="admintable">
			  <tr class="admintablehd">
			    <td width="25%">Title</td>
			    <td>Description</td>
			    <td width="27%" style="text-align: center !important;">Action</td>
			  </tr>
			
			<% @notifications.each do |notification| %>
			  <tr>
			    <td><%= link_to notification.title, admin_notification_path(notification) %></td>
			    <td><%= truncate(notification.description, :length => 110) %></td>
			    <td style="text-align: center !important;"> <%= link_to "Edit", edit_admin_notification_path(notification), :class=>'button positive' %> &nbsp;&nbsp; 
				<a href="/admin/notifications/<%= notification.id %>/delete" onclick="if(confirm('Are you sure you want to delete this notification?'))  return true;  else  return false;" class="button negative" >Delete</a>
				</td>
			    
			  </tr>
			<% end %>
			</table>
			<p><%= will_paginate @contacts, :class=>'pagination_magArticles' %></p>
			<br />
</div>