

  <div id="content">

	<% form_for [:admin, @skill],:html => { :multipart => true } do |f| %>
	
	  
	  <%- @skill.errors.full_messages.each do |message| -%>
	   <div class="errorExplanation"> <p><%= message %></p></div>
	  <%- end -%>
	   
	  
	  <div id="breadcrumb">
	  	   <%= link_to "Skills", admin_skills_path %> &raquo; New
	  </div>
	 
	  <p>
	    <%= f.label :category %>
	    <%= f.text_field :category, :class => 'text' %>
	  </p>
	
	  
	  <p>
	    <%= f.label :question %>
	    <%= f.cktext_area :question,:height=>400, :width=>900 %>
	  </p>
	  
	  
	  <%= render :partial =>"shared/button" %>
	
	<% end %>


</div>