

  <div id="content">

	<% form_for [:admin, @banner],:html => { :multipart => true } do |f| %>
	
	  
	  <%- @banner.errors.full_messages.each do |message| -%>
	   <div class="errorExplanation"> <p><%= message %></p></div>
	  <%- end -%>
	   
	  
	  <div id="breadcrumb">
	  	   <%= link_to "Banner", admin_banners_path %> &raquo; New
	  </div>
	 
	  <p>
	    <%= f.label :title %>
	    <%= f.text_field :title, :class => 'text' %>
	  </p>
	  <p>
	    <%= f.label :photo %>
	    <%= f.file_field :photo %>
	  </p>
	  <p>
	    <%= image_tag @banner.photo.url(:thumb) %>
	    
	  </p>
	
	  </fieldset>
	  
	  <%= render :partial =>"shared/button" %>
	
	<% end %>


</div>