<!-- Start Content -->
<div id="content">

	<!-- Start Main Content -->	
		<div id="main-content">
		
			<h1><%= @skill.category %></h1>
			<div class="main-ruler"></div>
			<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
       <% @announcements.each do |announcement| %>
      	<div class='marquee_text'><%= announcement.title %></div>
       <% end %>
      </marquee>
      
			<p><%= @skill.question.html_safe %></p>
		
			<div id="contact-form">
			<% form_for :test_skills, :url => {:action=> 'skillemail', :controller=>'skills'}, :html=>{:id=>'skillform'} do |form| %>
			
			 
				<fieldset>
					<p class="hide" id="response"></p>				
					<div class="field-group">
						<label class="required" for="form_name">Name<span>*</span></label>
						<%= form.text_field :name, :size => 40, :class => "field" %>
						
					</div>
						
					<div class="field-group">
						<label class="required" for="form_email">Email<span>*</span></label>
						<%= form.text_field :email, :size => 40, :class => "field" %>
						
					</div>
					
					<div class="field-group">
						<label class="required" for="form_email">Conatct No<span>*</span></label>
						<%= form.text_field :contact, :size => 40, :class => "field" %>

					</div>
					<div class="clear"></div>
					<label class="required" for="form_message">Answer<span>*</span></label>
					<%= form.text_area :answer, :rows => 4, :cols => 34, :class => 'text tiny_mce' %>
					<br/>						
					<%= submit_tag 'Submit', :class => "small-primary-btn input-btn" %>
					
            						
				</fieldset>
			<% end %>
		   </div>
		
		</div>
	<!-- End Main Content -->
		
	<!-- Start Sidebar -->
		<div id="sidebar">
		
			
			
			<div class="widget">
				<div class="widget-top round-top"></div>
				
				  <h3><blink>Courses</blink></h3>				
  				<div class="widget-content">
  				<% skills = SubjectInfo.find(:all, :order => 'id asc') %>
  				<% skills.each do |skill| %>
  				<ul class="arrow-list">
  					<li>
  						<%= link_to skill.title , subject_info_path(skill) %>
  					</li>

  				</ul>

  				<% end %>
  				<p>&nbsp;</p>
  				
  				</div>
			</div>
			<div class="widget">
				<div class="widget-top round-top"></div>
				
				  <h3>Get in Touch</h3>
  				<div class="widget-content">
  					<p>We are highly committed to deliver services with quality and profitability! Get in touch with us to know more ....</p>
  					<a href="/contacts" class="arrow-link">Contact Us</a>			
  				</div>				
				
			</div>					
		</div>
		<!-- End Sidebar -->
		
	<!-- End Sidebar -->
	<div class="clear"></div>
</div>
<!-- End Content -->