<!-- Start Content -->
<div id="content">

	<!-- Start Main Content -->	
		<div id="main-content">
		
			<h1><%= @page.title.html_safe %></h1>
			<div class="main-ruler"></div>
			<p><%= @page.body.html_safe %></p>
		
		</div>
	<!-- End Main Content -->
		
	<!-- Start Sidebar -->
		<div id="sidebar">
		
			
			
			<div class="widget">
				<div class="widget-top round-top"></div>
				<% if @page.id == 11 %>
				  <h3><blink>Courses</blink></h3>				
  				<div class="widget-content">
  				<% si = SubjectInfo.find(:all, :order => 'id asc') %>
  				<% si.each do |s| %>
  				<ul class="arrow-list">
  					<li>
  						<%= link_to s.title , subject_info_path(s) %>
  					</li>
				</ul>

  				<% end %>
  				<p>&nbsp;</p>
  				
  				</div>
				<% else %>
				<h3><blink>Recent Stock Market Tips</blink></h3>				
				<div class="widget-content">
				<% tips = Tip.find(:all, :order => 'id desc', :limit => 5) %>
				<% tips.each do |stip| %>
				<ul class="arrow-list">
					<li>
						<%= link_to stip.title , tip_path(stip) %>
					</li>
														
				</ul>
				
				<% end %>
				<p>&nbsp;</p>
				<p><a href="/tips" class="arrow-link">View all</a></p>
				</div>
				<% end %>
			</div>
			<div class="widget">
				<div class="widget-top round-top"></div>
				
				<% if @page.id == 12 %>
				  <h3>Ads</h3>
  				<div class="widget-content">
  				  <% banners = Banner.find(:all, :limit => 2) %>
    				<% banners.each do |banner| %>
  				    <p style="border-bottom: 1px solid #AAAAAA;"><%= image_tag banner.photo.url(:thumb) %></p>
  				  <% end %>			
  				</div>
				<% else %>
				
				  <h3>Get in Touch</h3>
  				<div class="widget-content">
  					<p>We are highly committed to deliver services with quality and profitability! Get in touch with us to know more ....</p>
  					<a href="/contacts" class="arrow-link">Contact Us</a>			
  				</div>				
				<% end %>
			</div>					
		</div>
		<!-- End Sidebar -->
		
	<!-- End Sidebar -->
	<div class="clear"></div>
</div>
<!-- End Content -->