

    <div id="content">

		<%= form_for [:admin, @announcement] , :html => { :multipart => true } do |f| %>
		  
		  <div id="breadcrumb">
		  	   <%= link_to "Announcements", admin_announcements_path %> &raquo; New
		  </div>
		 
		  <p>
		    <%= f.label :title %>
		    <%= f.text_field :title, :class => 'text' %>
		  </p>
		  
		
		  
		  
		  <%= render :partial =>"button" %>
		
		<% end %>


