<div id="wrapper">
  <div id="top_logo">
		 
	      <%= image_tag  "/images/login/logo.gif" %>
	   
		</div>

		  <div id="help_top">
		    
		  </div>

 <div id="login_area_bg">	


   <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div id="login_area">
    	<label for="username">Username</label>
		<div id="username_textbox_bg">
  		<%= f.text_field :username, :maxlength => 40 %></p>
		</div>

        <label for="password">Password</label>
        <div id="password_textbox_bg">
  			<%= f.password_field :password %></p>
		</div>

		<div id="checkbox_area">
  			<% if devise_mapping.rememberable? -%>
    		<p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  		<% end -%>
        </div>
   
    	<div id="submit_area">
  			<%= f.submit "Sign in" %>
			</div>


	     <% if !flash.empty? %>
	          <div id="notice"><%= alert %></div>
	     <% end %>
	
	   </div>
  </div>
<% end %>

<div id="help_forgot_pw">
    

</div>
<div class="clearfooter"></div>
</div>

    <div id="footer">
      <div id="footer_logo">
            <div id="powered_by">
          Powered by <a href="http://kunalinfotech.net/" target="_blank">Kunalinfotech Pvt Ltd</a>
        </div>
          
          
      </div>
    </div>

<script type="text/javascript">
document.getElementById('admin_username').focus();
 </script>